<!DOCTYPE html>
<html lang="{{default resume.meta.language 'en'}}">
  <head>
    <title>{{resume.basics.name}} - {{resume.basics.label}}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{resume.basics.name}}">
    {{#if resume.meta.description}}
    <meta name="description" content="{{resume.meta.description}}">
    {{/if}}
    {{#if resume.meta.robots}}
    <meta name="robots" content="{{resume.meta.robots}}">
    {{/if}}

    {{#if resume.meta.canonical}}
    <link rel="canonical" href="{{resume.meta.canonical}}">
    {{/if}}
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/js/all.min.js"></script>

    <style type="text/css">
      {{{style}}}
    </style>
  </head>
  <body>
    <article class="resume-wrapper text-center position-relative">
      <div class="resume-wrapper-inner mx-auto text-start bg-white shadow-lg">
        {{> header}}
        <div class="resume-body p-5">
          {{> summary}}
          <div class="row">
            <div class="col-lg-9">
              {{> work anyItemBelow=resume.skills}}
              {{> projects}}
            </div>
            <div class="col-lg-3">
              {{> skills
                anyItemBelow=(
                  or resume.education
                  resume.awards
                  resume.languages
                  resume.languages
                )
              }}
              {{> education
                anyItemBelow=(
                  or resume.awards
                  resume.languages
                  resume.interestsi
                )
              }}
              {{> awards
                anyItemBelow=(
                  or resume.languages
                  resume.interests
                )
              }}
              {{> languages anyItemBelow=resume.interests}}
              {{> interests}}
            </div>
          </div>
        </div>
      </div>
    </article>
    {{> footer}}
  </body>
</html>
