{{#if resume.work}}
<section class="resume-section experience-section mb-5">
  <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Work Experience</h2>
  <div class="resume-section-content">
    <div class="resume-timeline position-relative">
      {{#each resume.work}}
      <article class="resume-timeline-item position-relative pb-5">
        <div class="resume-timeline-item-header mb-2">
          <div class="d-flex flex-column flex-md-row">
            <h3 class="resume-position-title font-weight-bold mb-1">{{this.position}}</h3>
            <div class="resume-company-name ms-auto">{{this.name}}</div>
          </div>
          <div class="resume-position-time">{{this.startDate}} - {{default this.endDate "Present"}}</div>
        </div>
        <div class="resume-timeline-item-desc">
          {{#if this.summary}}
          <p>{{this.summary}}</p>
          {{/if}}

          {{#if this.highlights}}
          <h4 class="resume-timeline-item-desc-heading font-weight-bold">Achievements:</h4>
          <ul>
            {{#each this.highlights}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
          {{/if}}

          {{#if this.keywords}}
          <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
          <ul class="list-inline">
            {{#each this.keywords}}
            <li class="list-inline-item">
              <span class="badge bg-secondary badge-pill">{{this}}</span>
            </li>
            {{/each}}
          </ul>
          {{/if}}
        </div>
      </article>
      {{/each}}
    </div>
  </div>
</section>
{{/if}}
